<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=b94a1852210ee8a477fbc07defd7797a"></script>
</head>
<body>
<!-- 이미지 지도를 표시할 div 입니다 -->
<div id="staticMap" style="width:600px;height:350px;"></div>
<script>
    // 이미지 지도에서 마커가 표시될 위치입니다
    var markerPosition  = new kakao.maps.LatLng(37.461456, 128.563339);

    // 이미지 지도에 표시할 마커입니다
    // 이미지 지도에 표시할 마커는 Object 형태입니다
    var marker = {
        position: markerPosition
    };

    var staticMapContainer  = document.getElementById('staticMap'), // 이미지 지도를 표시할 div
        staticMapOption = {
            center: new kakao.maps.LatLng(37.461456, 128.563339), // 이미지 지도의 중심좌표
            level: 7, // 이미지 지도의 확대 레벨
            marker: marker // 이미지 지도에 표시할 마커
        };

    // 이미지 지도를 생성합니다
    var staticMap = new kakao.maps.StaticMap(staticMapContainer, staticMapOption);
</script>
</body>
</html>